.header {
  border: 1px solid red;
  padding: 1em 0;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;
  &__logo {
    align-self: center;
  }
  .button {
    display: none;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-widht: 1024px) {
    .button {
      display: inline;
    }
    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
