.hero {
  text-align: center;
  padding-bottom: 5em;
  background: url("../images/bg-intro-mobile.svg") center no-repeat;
  margin: 0 calc(-1 * var(--wrapperSpace));
  background-size: cover;

  .copy {
    margin-bottom: 2.5em;
  }
  &__img {
    // height: 300px;

    margin-bottom: 1.2em;
    top: 98px;
    background: var(--lightGrayishBlue);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    // position: absolute;
    text-align: center;
    width: 326px;
    left: 23px;
    position: relative;
    padding: 1.2em;
  }
  &__imageSrc {
    display: none;
  }
  &__description {
    position: relative;
    top: 119px;
    padding: 0 3em;
  }

  .col-md-9.col-xs-9.title__h2 {
    width: 100%;
    position: relative;
    left: -27px;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
    &__content {
      position: relative;
      // border: 1px solid red;
      display: grid;
      align-items: center;
      min-height: 550px;
      grid-template-areas: "description img";
      grid-template-columns: 330px 1fr;
    }
    &__description {
      // border: 1px solid green;
    }
    &__img {
      grid-area: img;
      min-height: inherit;
      // background: none;
      position: absolute;
      width: 400px;
      left: 0;
      top: 0;
      // height: 768px;
      // background: url("../images/image-mockups.png") left bottom no-repeat;
      background-size: cover;
    }
  }
  @media screen and (min-width: 1024px) {
    &__content {
      // position: static;
    }
    &__imageSrc {
      display: block;
      position: relative;
      top: 180px;
      z-index: 1;
      margin: 0 auto;
    }
    &__img {
      // background: url("../images/image-mockups.png") right -100px bottom no-repeat;
      background: var(--lightGrayishBlue);
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
      border-radius: 24px;
      position: absolute;
      text-align: center;
      padding: 10px 30px;
      // width: 700px;
      left: 340px;
      right: 0;
      top: 100px;
    }
  }
}
