.hero {
  text-align: center;
  padding-bottom: 5em;
  background: var(--lightGray);
  .copy {
    margin-bottom: 2.5em;
  }
  &__img {
    height: 300px;
    margin: 0 calc(-1 * var(--wrapperSpace));
    background: url("../images/image-mockups.png") center bottom no-repeat,
      url("../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover;
    margin-bottom: 1.2em;
  }
  &__imageSrc {
    display: none;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
    &__content {
      position: relative;
      // border: 1px solid red;
      display: grid;
      align-items: center;
      min-height: 550px;
      grid-template-areas: "description img";
      grid-template-columns: 330px 1fr;
    }
    &__description {
      // border: 1px solid green;
    }
    &__img {
      grid-area: img;
      min-height: inherit;
      // background: none;
      position: absolute;
      width: 400px;
      left: 0;
      top: 0;
      height: 768px;
      background: url("../images/image-mockups.png") left bottom no-repeat;
      background-size: cover;
    }
  }
  @media screen and (min-width: 1024px) {
    &__content {
      // position: static;
    }
    &__imageSrc {
      display: block;
      position: relative;
      top: -150px;
      z-index: 1;
    }
    &__img {
      // background: url("../images/image-mockups.png") right -100px bottom no-repeat;
      background: none;
      // width: 700px;
      left: 150px;
      right: 0;
      top: 0;
    }
  }
}
