.menu__button {
  // border: 1px solid green;
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  // background: #fffffa;
}

header {
  width: 100%;
}

header nav {
  // width: 100%;
  // max-width: 1000px;
  margin: auto;
  background: var(--white);
}

.menu_bar {
  display: flex;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background: var(--grayBlue);
}

section {
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  header nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    top: 80px;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: flex;
    position: relative;
    width: 77%;
    justify-content: flex-end;
  }

  .menu_bar .bt-menu {
    display: block;
    // padding: 20px;
    background: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }
}
