.section2 {
  text-align: center;
  background: var(--lightGrayishBlue);
  padding-top: 5em;
  .copy {
    margin-bottom: 4em;
  }
  &__item {
    // border: 1px solid red;
    .copy {
      margin-bottom: 2em;
      font-size: 1em;
    }
    img {
      margin-bottom: 1.5em;
    }
  }
}
