.partner {
  text-align: center;
}

.pay__grid {
  display: block;
  grid-column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

.pay__item {
  border-radius: 0.5em;
  overflow: hidden;
  margin: auto;
}

.pay__item img {
  margin-bottom: 1.5em;
  width: 100%;
  object-fit: cover;
  display: block;
}

div.row {
  margin-right: 0;
  margin-left: 0;
}

.wizarlg {
  width: 50vw;
  margin: auto;
  height: auto;
  min-height: 70vh;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.center-block {
  display: flex;
  position: relative;
  justify-content: center;
  height: 350px;
  align-items: center;
}
div.ui-input-text input,
.ui-input-search input {
  margin: 0;
  /* min-height: 2.2em; */
  /* text-align: left; */
  /* border: 0; */
  background: transparent none;
  -webkit-appearance: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}

// .ui-select .ui-btn > span:not(.ui-li-count) {
//   display: block;
//   text-overflow: ellipsis;
//   overflow: hidden !important;
//   white-space: nowrap;
//   padding: 8px;
//   font-size: 28px;
// }

.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("/static/images/Login1.jpg");
  background-position: center center;
  background-size: cover;
  height: 30vh;
  padding: 30px;
}

.wizard-daviPlata {
  background-blend-mode: darken;

  background-image: url("/static/images/daviplata.png");
  background-position: center center;
  background-size: cover;

  width: 100%;
  padding: 30px;
  align-items: center;
  position: relative;
  display: block;
}

.wizard-corresponsal {
  background-blend-mode: darken;

  background-image: url("/static/images/bancolombia-corresponsal.png");
  background-position: center center;
  background-size: cover;

  width: 100%;
  padding: 30px;
  align-items: center;
  position: relative;
  display: block;
}

.wizard-pse {
  background-blend-mode: darken;

  background-image: url("/static/images/pse.png");
  background-position: center center;
  background-size: cover;

  width: 100%;
  padding: 30px;
  align-items: center;
  position: relative;
  display: block;
}

.wizard-multipagas {
  background-blend-mode: darken;

  background-image: url("/static/images/multipagas.png");
  background-position: center center;
  background-size: cover;
  height: 115px;
  width: 100%;
  padding: 30px;
  align-items: center;
  position: relative;
  display: block;
}

.wizard-reval {
  background-blend-mode: darken;

  background-image: url("/static/images/reval.png");
  background-position: center center;
  background-size: cover;
  height: 115px;
  width: 100%;
  padding: 30px;
  align-items: center;
  position: relative;
  display: block;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: #888888;
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: flex;
  position: relative;
  align-items: center;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #fb1647;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}

// div.ui-page-theme-a a {
//   font-weight: normal;
// }

.ui-radio {
  position: relative;
  padding: 1px;
  top: -6px;
}

.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
  background-color: #ff3e27;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 109px;
  padding: 10px;
  text-align: center;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset:hover,
.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
  color: var(--limeRed);
  opacity: 0.6;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: #fb1647;
}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  // padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  // border: none;
  padding: 0 8px;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
// input[type="date"].form-control {
//   line-height: normal;
// }

// input .form-control:focus {
//   box-shadow: none;
// }

// .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
//   box-shadow: none;
// }

// div.ui-btn {
//   padding: 0;
//   text-align: left;
// }

// div.ui-radio {
//   margin: 0.5em 0.7em;
//   position: relative;
// }

div.ui-shadow {
  webkit-box-shadow: none;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: relative;
  left: 10px;
  top: 6px;
  transition: 0.2s linear all;
}

// .ui-input-text input,
// .ui-input-search input {
//   margin: 0;
//   min-height: 2.2em;
//   text-align: left;
//   border: 0;
//   background: transparent none;
//   -webkit-appearance: none;
//   -webkit-border-radius: inherit;
//   border-radius: inherit;
//   font-size: 16px;
// }
.form-wizard .focus-input .wizard-form-text-label {
  color: #d65470;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 20%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
  background-color: #ff3e27;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
  background-color: #ff3e27;
  left: 50%;
  width: 50%;
  border-color: #ff3e27;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #ff3e27;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

// div.ui-page-theme-a .ui-btn {
//   background-color: #f7f7f7;
//   border-color: #f7f7f7;
//   color: #333;
//   text-shadow: 0 1px 0 #f3f3f3;
//   // width: 160px;
//   display: flex;
//   font-size: 28px;
// }

.btnPay {
  padding: 2em;
  margin-bottom: 2em;
}

.Paymetod {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.dpay {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

// div.ui-page-theme-a .ui-btn:focus {
//   background-color: #f7f7f7;
//   border-color: #f7f7f7;
//   color: #333;
//   text-shadow: 0 1px 0 #f3f3f3;
// }

// div.ui-btn,
// label.ui-btn {
//   font-weight: 700;
//   border-width: none;
//   border-style: none;
// }
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}

.wizardPay {
  display: inline-flex;
  width: 24vw;
  position: relative;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .pay__grid {
    display: grid;
  }
  .form-wizard .wizard-form-radio {
    display: inline-flex;
  }
}

@media screen and (min-width: 1024px) {
  .wizard-content-left {
    height: auto;
  }
  .wizarlg {
    width: 85vw;
  }

  .form-wizard .form-wizard-next-btn,
  .form-wizard .form-wizard-previous-btn,
  .form-wizard .form-wizard-submit {
    background-color: #ff3e27;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
  }
}
