.header {
  padding: 1em 0;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;
}
.header__logo {
  align-self: center;
}
.header .button {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
    padding: 15px;
    width: 13%;
  }
  .header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5em;
  background: url("../images/bg-intro-mobile.svg") center no-repeat;
  margin: 0 calc(-1 * var(--wrapperSpace));
  background-size: cover;
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__img {
  margin-bottom: 1.2em;
  top: 98px;
  background: var(--lightGrayishBlue);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  text-align: center;
  width: 326px;
  left: 23px;
  position: relative;
  padding: 1.2em;
}
.hero__imageSrc {
  display: none;
}
.hero__description {
  position: relative;
  top: 119px;
  padding: 0 3em;
}
.hero .col-md-9.col-xs-9.title__h2 {
  width: 100%;
  position: relative;
  left: -27px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
  }
  .hero__content {
    position: relative;
    display: grid;
    align-items: center;
    min-height: 550px;
    grid-template-areas: "description img";
    grid-template-columns: 330px 1fr;
  }
  .hero__img {
    grid-area: img;
    min-height: inherit;
    position: absolute;
    width: 400px;
    left: 0;
    top: 0;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .hero__imageSrc {
    display: block;
    position: relative;
    top: 180px;
    z-index: 1;
    margin: 0 auto;
  }
  .hero__img {
    background: var(--lightGrayishBlue);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    position: absolute;
    text-align: center;
    padding: 10px 30px;
    left: 340px;
    right: 0;
    top: 100px;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu a {
  text-decoration: none;
  color: var(--grayishBlue);
  padding: 0 0.8em;
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu__button {
  background: url("../images/icon-close.svg") no-repeat center;
}
.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}
.menu__checkbox:checked ~ .menu .menu__item:first-of-type a {
  padding-top: 2em;
  border-radius: 0.5em 0.5em 0 0;
}
.menu__checkbox:checked ~ .menu .menu__item:last-of-type a {
  padding-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
}
.menu__checkbox:checked ~ .menu a {
  background: white;
  padding: 0.8em 1em;
  color: var(--darkBlue);
  font-size: 1.1em;
  display: block;
  text-align: center;
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.section2 {
  text-align: center;
  background: var(--gray);
  padding: 5em 0;
}
.section2 .copy {
  margin-bottom: 4em;
  font-size: 1em;
}
.section2__item .copy {
  margin-bottom: 2em;
}
.section2__item img {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 768px) {
  .section2 {
    text-align: left;
  }
  .section2__grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .section2__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.sectionCards {
  display: none;
}

@media screen and (min-width: 768px) {
  .sectionCards {
    display: block;
    height: 100%;
    padding: 100px 0;
    background: linear-gradient(to bottom, var(--white) 300px, var(--lightGray) 300px, #efefef);
  }

  .cards {
    display: block;
    width: 900px;
    margin: 0 auto;
    position: relative;
    height: 500px;
  }
  .cards__li {
    height: 420px;
    width: 33.33333%;
    background: url("../images/img_azul-02.svg") no-repeat;
    float: left;
    display: inline;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    position: absolute;
    text-align: center;
    padding: 50px 30px;
  }
  .cards__li:nth-child(2) {
    z-index: 2;
    left: 51%;
    transform: translateX(-50%);
    top: -25px;
    height: 500px;
    width: 35%;
    padding-top: 75px;
    padding-bottom: 75px;
    background: var(--darkBlue);
  }
  .cards__li:nth-child(3) {
    right: 0;
    background: url("../images/img_naranja-02-02.svg") no-repeat;
  }
  .cards__content {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 2em;
  }
  .cards img {
    width: 534px;
    top: -51px;
    left: -105px;
    position: absolute;
  }
  .cards p {
    color: var(--white);
    font-size: 0.8em;
    margin-bottom: 2em;
  }
  .cards a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }
  .cards h1 {
    color: var(--white);
  }
}
.articles {
  padding: 5em 0;
  background: var(--lightGray);
}
.articles .title__h1 {
  text-align: center;
  margin-bottom: 1em;
}
.articles__grid {
  display: grid;
  grid-row-gap: 2em;
}
.articles__item {
  border-radius: 0.5em;
  overflow: hidden;
  background: var(--white);
}
.articles__item-content {
  padding: 1.8em;
}
.articles__item .copy {
  color: var(--grayBlue);
}
.articles__item small {
  color: var(--grayBlue);
  margin-bottom: 1em;
  display: block;
}
.articles__item img {
  width: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 768px) {
  .articles .title__h1 {
    text-align: left;
  }
  .articles__item-content {
    padding: 1em;
  }
  .articles__grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .articles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}
.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__link {
  display: block;
  color: var(--gray);
  text-decoration: none;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(4, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5em 0;
}
.footer__copyright {
  color: var(--grayishBlue);
  margin-top: 2.5em;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo link button" "social links copyright";
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__button {
    grid-area: button;
    text-align: right;
    position: relative;
    align-content: end;
    direction: rtl;
  }
  .footer__copyright {
    grid-area: copyright;
    text-align: right;
  }
}

/* https://stackoverflow.com/questions/8912660/hiding-the-slider-input-box-in-jquery */
.simulator {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.input-group-addon:first-child {
  border: 0;
}

.input-group {
  background: #eeeeee;
  border: 2px solid #6e6e6e;
  border-radius: 5px;
  text-decoration: none;
}

.contDate.col-md-5.col-xs-6 {
  background: #eee;
  border-radius: 5px;
  border: 2px solid #6e6e6e;
  margin: 7px 0;
}

.ui-slider-track {
  position: relative;
  overflow: visible;
  border-width: 1px;
  border-style: solid;
  height: 15px;
  top: 6px;
  margin: 0 1em;
  left: 14px;
}

.ui-slider-input {
  display: none !important;
}

.marginator {
  margin: 5% 5% 5% 5%;
}

.padme {
  padding: 2% 0% 2% 0%;
}

.col-xs-1 {
  width: 2.333333%;
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.col-xs-6 {
  width: 56%;
}

a.ui-slider-handle.ui-btn.ui-shadow {
  border-radius: 50%;
  background: var(--lightGray);
}

.ui-checkbox .ui-btn,
.ui-radio .ui-btn {
  margin: 0;
  text-align: left;
  white-space: normal;
  z-index: 2;
  display: none;
}

.contItem {
  border-radius: 0.5em;
  padding: 0.3em 0.8em;
  color: var(--darkBlue);
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.col-xs-6 {
  width: 58%;
  font-weight: 700;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active {
  background-color: var(--limeRed);
}

.contItem br {
  position: relative;
  display: contents;
  justify-content: space-between;
  width: 459px;
  margin-right: 69px;
}

.contentIntereses {
  position: absolute;
  left: -234px;
  top: 24px;
  border-radius: 1em;
  padding: 1em;
  background: var(--lightGrayishBlue);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
}

.W50 {
  width: calc(50% - 12.5px);
}

.W50.paddingWidth {
  width: calc(50% - 32.5px);
}

.resultadoMenu {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 333px);
  height: 100%;
}

.contentResultados {
  width: calc(100% - 205.5px);
}

.resultadoMenu1 {
  height: calc(0vh - 0px);
  position: relative;
  display: block;
  border-width: 0;
  transition: 0.4s;
  overflow: hidden;
}

.resultadoMenu1.activo {
  height: calc(100vh - 40px);
}

.resulReg {
  height: calc(0vh - 0px);
  position: relative;
  display: block;
  border-width: 0;
  transition: 0.4s;
  overflow: hidden;
}

.resulReg.activo {
  height: calc(100vh - 2px);
}

.resulOlvidoContrasena {
  height: calc(0vh - 0px);
  position: relative;
  display: block;
  border-width: 0;
  transition: 0.4s;
  overflow: hidden;
}

.resulOlvidoContrasena.activo {
  height: calc(100vh - 15px);
}

.contCampo {
  display: block;
  position: relative;
  margin: 5% auto;
  max-width: 600px;
  background-color: #efefef;
  padding-bottom: 1rem;
  border-radius: 8px;
}

.form-top {
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem;
  border-top: solid 0.4rem var(--limeRed);
  border-radius: 8px;
}

.form-top h2 {
  font-weight: bold;
  font-size: 16px;
  color: #313639;
}

h2.form-title {
  font-size: 28px;
  font-weight: bold;
}

h2 span {
  color: var(--limeRed);
  cursor: pointer;
}

h2.form-title2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 3rem;
}

.form-reg,
.form-registro {
  padding: 0 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  position: relative;
  align-items: left;
}

.form-reg {
  align-items: center;
}

.btn-form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.contLogin,
.btn-ingresar,
.formclas,
.formclas {
  background-color: #f7f5f5;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: solid #c8c8c8 0.2rem;
  transition: all 0.5s;
  border-radius: 5px;
  text-decoration: none;
}

input {
  border: 0;
}

.contLogin:focus {
  border-bottom: solid var(--limeRed) 0.2rem;
}

.formclas .btn-enviar {
  width: 40%;
  border-bottom: none;
  background-color: #31e56f;
  color: white;
  cursor: pointer;
}

.btn-ingresar {
  background-color: var(--limeRed);
  border-radius: 5px;
  border-bottom: solid var(--limeRed) 0.2rem;
  color: var(--white);
  width: 162px;
}

.btn-submit:hover {
  background-color: #24e466;
}

.btn-ingresar:hover {
  background: var(--limeRed);
}

.hook {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 90;
}

.menuBox {
  display: none;
  position: relative;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px);
  background: rgba(250, 250, 250, 0.95);
}

.menuBox.menuActivo {
  display: block;
  position: fixed;
  height: 100vh;
}

.registro {
  display: none;
  position: relative;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px);
  background: rgba(250, 250, 250, 0.95);
}

.registro.registroActivo {
  display: block;
  position: fixed;
  height: 100vh;
}

.olvidoContrasena {
  display: none;
  position: relative;
  max-width: 420px;
  background-color: #efefef;
  padding-bottom: 1rem;
  border-radius: 8px;
}

.olvidoContrasena.olvidoContrasenaActivo {
  display: block;
  position: fixed;
  height: 100vh;
  top: 156px;
  right: 478px;
  width: 395px;
}

span.iconX {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #232527;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 30px;
}

span.iconX:before,
span.iconX:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #f5f5f5;
  transform: rotate(45deg);
  transition: 0.4s;
}

span.iconX:after {
  transform: rotate(-45deg);
}

.custom-select {
  width: 100%;
  display: flex;
  position: relative;
}

.selectCC {
  display: flex;
  position: relative;
}

.selector {
  margin: 0 0.5em;
  width: 46%;
}

label {
  font-weight: 700;
}

.tipoDoc {
  vertical-align: bottom;
  position: relative;
  margin-top: 2em;
  margin-top: 1.6em;
}

a.Terminos.ui-link {
  color: var(--limeRed);
  left: 39px;
  width: calc(90% - 34px);
  position: relative;
}

a.foot-Lnk.ui-link {
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
  color: black;
  font-weight: 300;
}

.ui-input-text input,
.ui-input-search input {
  margin: 0;
  min-height: 2.8em;
  text-align: left;
  border: 0;
  background: var(--lightGrayishBlue);
  -webkit-appearance: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}

@media screen and (min-width: 1024px) {
  .ui-btn {
    font-size: 16px;
    margin: 0.5em 0;
    padding: 0.6em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
:root {
  --darkBlue: hsl(0, 0%, 16%);
  --limeRed: hsl(4, 71%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: var(--grayishBlue);
  overflow-x: hidden;
}

.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.is-hidden {
  display: none !important;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.title__h1 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
}
.title__h2 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}
.title__h3 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.button {
  border: none;
  padding: 0.9em 2.2em;
  font-size: 1em;
  border-radius: 1.5em;
  color: var(--white);
  background-image: linear-gradient(to right, var(--limeRed) 0%, var(--brightCyan) 100%);
}

.icon__facebook {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-facebook.svg");
}
.icon__youtube {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-youtube.svg");
}
.icon__instagram {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-instagram.svg");
}
.icon__twitter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-twitter.svg");
}

/*# sourceMappingURL=estilos.css.map */
