.header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.hero {
  text-align: center;
  padding-bottom: 5em;
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__img {
  height: 300px;
  margin: 0 calc(-1 * var(--wrapperSpace));
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.2em;
}

.menu {
  width: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}

.section2 {
  text-align: center;
  background: var(--lightGrayishBlue);
  padding-top: 5em;
}
.section2 .copy {
  margin-bottom: 4em;
}
.section2__item .copy {
  margin-bottom: 2em;
  font-size: 1em;
}
.section2__item img {
  margin-bottom: 1.5em;
}

.articles {
  padding-top: 5em 0;
  background: var(--lightGray);
}
.articles .title__h1 {
  text-align: center;
}
.articles__grid {
  display: grid;
  grid-row-gap: 2em;
}
.articles__item {
  border-radius: 0.5em;
  overflow: hidden;
  background: var(--white);
}
.articles__item-content {
  padding: 1.8em;
}
.articles__item .copy {
  color: var(--grayBlue);
}
.articles__item small {
  color: var(--grayBlue);
  margin-bottom: 1em;
  display: block;
}
.articles__item img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}
.footer img {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__link {
  display: block;
  color: var(--lightGray);
  text-decoration: none;
  margin-bottom: 2em;
}
.footer__social {
  display: flex;
  justify-content: center;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeRed: hsl(4, 71%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: var(--grayishBlue);
}

.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
}

.title__h1 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
}
.title__h2 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.title__h3 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.button {
  border: none;
  padding: 0.9em 2.2em;
  font-size: 1em;
  border-radius: 1.5em;
  color: var(--white);
  background-image: linear-gradient(to right, var(--limeRed) 0%, var(--brightCyan) 100%);
}

.icon__facebook {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-facebook.svg");
}
.icon__youtube {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-youtube.svg");
}
.icon__instagram {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-instagram.svg");
}
.icon__twitter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-twitter.svg");
}

/*# sourceMappingURL=estilos.css.map */
